.letter2 {
      display: none;
      width: 32.5%;
      height: 90%;
      top: 50%;
      left: 50%;
      background-color: rgba(153, 124, 191, 0.95);
      font-family: "Times New Roman", Times, serif;
      font-size: 24px;
      padding: 10px;
      position: absolute;
      transform: translate(-50%, -50%);
  }
  
  .letter2 p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 30px;
  }
  
  .letter2 .date {
    position: relative;
      font-style: italic;
      font-size: large;
      position: absolute;
      bottom: 2%;
      right: 5%;
  }
  
  .letter2 .sender {
    position: relative;
      font-style: italic;
      font-size: larger;
      position: absolute;
      top: 2%;
      left: 7%;
  }
  
  .letter2 .letter2-exit button {
    position: absolute;
      top: 2.5%;
      right: 2.5%;
  }