.letter5 {
    display: none;
    width: 32.5%;
    height: 90%;
    top: 50%;
    left: 50%;
    background-color: rgba(250, 255, 111, 0.95);
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.letter5 p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.letter5 .date {
  position: relative;
    font-style: italic;
    font-size: large;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.letter5 .sender {
  position: relative;
    font-style: italic;
    font-size: larger;
    position: absolute;
    top: 2%;
    left: 7%;
}

.letter5 .letter5-exit button {
  position: absolute;
    top: 2.5%;
    right: 2.5%;
}